<mat-toolbar id="contatos">
    <div class="row footer-center">
        <h1>Entre em contato conosco através das nossas redes sociais:</h1>
    </div>
<mat-toolbar-row>
    <div class="row footer-center">
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="http://api.whatsapp.com/send?phone=55" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    </div>
</mat-toolbar-row>
<mat-toolbar-row>
    <div class="row footer-center">
        <p>Todos os direitos reservados <i class="fas fa-copyright"></i> Denise Anjos</p>
    </div>
</mat-toolbar-row>
</mat-toolbar>
